.front_page {
	background-color: #8CB369;
}
.nav_bar {
	height: 7%;
	background-color: #FFFFFF;
}
.nav-bar-active {
	background-color: blue;
}
.full_page {
	height: 93%;
	width: 100%;
	padding: 30px;
}
